<div class="container espacio">
  <h1 class="text-center pt-5 mb-5"><strong>Registrar usuario</strong></h1>
<div class="row">

  <div class="col-md-1"></div>
  <div class="col-md-10" align="center">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
      <!-- <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Nombre</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
          <input nz-input formControlName="username" placeholder="Nombre de usuario" />
          <ng-template #userErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input your username!
            </ng-container>
            <ng-container *ngIf="control.hasError('duplicated')">
              The username is redundant!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item> -->

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Correo electrónico </nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
          <input nz-input formControlName="email" placeholder="Correo electrónico" type="email" />
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('email')">
              El correo ingresado no es valido
            </ng-container>
            <ng-container *ngIf="control.hasError('required')">
              Por favor ingrese su Correo electrónico.
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Contraseña</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Ingrese su Contraseña">
          <input nz-input type="password" formControlName="password" placeholder="Contraseña" (ngModelChange)="validateConfirmPassword()" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Confirmar Contraseña</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
          <input nz-input type="password" formControlName="confirm" placeholder="Confirme su Contraseña" />
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Por favor confirme su contraseña
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Contraseñas distintas.
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

  

      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">Registrarse</button>
          <button nz-button (click)="resetForm($event)">Limpiar </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div class="col-md-1"></div>
</div>

</div>
