<aside class="left-sidebar" data-sidebarbg="skin6">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        
        <ul id="sidebarnav" >
          <!-- User Profile-->
          <!-- User Profile-->
          <!-- <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/dashboard" aria-expanded="false"><i class="mdi me-2 mdi-gauge"></i><span
                class="hide-menu">Dashboard</span></a></li> -->


          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
            href="/cards" aria-expanded="false"><i class="mdi me-2 mdi-account-card-details"></i><span
                class="hide-menu">Servicios</span></a></li>
        </ul>

        <!-- Administrador -->
          <p *ngIf="role=='ADMIN'" class="pl-3"><strong>Administrador</strong></p>
          <ul *ngIf="role=='ADMIN'" id="sidebarnav" class="">
          <li class="sidebar-item">
            <a class="sidebar-link waves-effect waves-dark sidebar-link"
               href="/gestionservicios" aria-expanded="false"><i class="mdi me-2 mdi-content-paste"></i><span
              class="hide-menu"> Gestión de Servicios</span>
            </a>
          </li>
          <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
          href="/gestionclientes" aria-expanded="false"><i class="mdi me-2 mdi-account-multiple"></i><span
          class="hide-menu"> Gestión de Clientes</span></a>
          </li>



          </ul>


      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
  <div class="sidebar-footer">
      <div class="row">
          <div class="col-4 link-wrap">
              <!-- item-->
              <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Settings"><i
                      class="ti-settings"></i></a>
          </div>
          <div class="col-4 link-wrap">
              <!-- item-->
              <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Email"><i
                      class="mdi mdi-gmail"></i></a>
          </div>
          <div class="col-4 link-wrap">
              <!-- item-->
              <a href="" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i
                      class="mdi mdi-power"></i></a>
          </div>
      </div>
  </div>
</aside>
