<header id="header" class="header header-hide">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="#body" class="scrollto"><span></span>Servicios</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#body"><img src="assets/img/logo.png" alt="" title="" /></a> -->
    </div>

    <nav *ngIf="verificarAcceso!=true" id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="/cards">Servicios</a></li>
        <li><a href="/gestionservicios"> Gestión Servicios</a></li>
        <li> <a href="/gestionclientes">Gestión Clientes</a> </li>
        <li class="menu-active"><a href="">Login</a></li>
        <li class=""><a href="/registro">Registrarse</a></li>
        <!-- <li> <a href="#" (click)="logout()">Logout </a> </li> -->
      </ul>
    </nav><!-- #nav-menu-container -->

    <nav *ngIf="verificarAcceso==true" id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="/cards">Servicios</a></li>
        <li><a href="/gestionservicios"> Gestión Servicios</a></li>
        <li> <a href="/gestionclientes">Gestión Clientes</a> </li>
        <!-- <li class="menu-active"><a href="">Login</a></li> -->
        <li> <a href="#" (click)="logout()">Logout </a> </li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
