<div class="container espacio">
  <h1 class="text-center  pt-5"><strong>Gestion de Servicios </strong></h1>
  <div class="row">
    <div class="col-md-3 col-sm-12 pr-5">

      <div class="pt-5">
        <h2>Ingrese la información</h2>
        <form  [formGroup]="form" (submit)="send()">
        <div >
        <label class="pt-4" for="nombre">Nombre</label>
        <input class="form-control" mb-5 type="text" id="nombre" formControlName="nombre">
        </div>
        <div>
          <label class="pt-4"  for="precio">Precio</label>
          <input  class="form-control"  type="text" id="precio" formControlName="precio">
        </div>

        <br>

        <div>
          <button  class=" btn btn-success" [disabled]="form.invalid"  (click)="addRow()" >Enviar</button>
        </div>


      </form>

      </div>


    </div>

    <div class="col-md-9 col-sm-12 pl-2 pt-5">
      <!-- <button nz-button  (click)="triggerModal(modalData)" nzType="primary">Ingresar Nueva Solicitud</button> -->
      <!--{# (click)="addRow()" #}-->
      <br />
      <br />
      <nz-table #editRowTable class="mb-3" nzBordered [nzData]="listOfData">
        <thead>
          <tr>
            <th>Id</th>
            <th nzWidth="30%">Nombre</th>
            <th>Precio</th>
            <th nzWidth="3%">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of editRowTable.data" class="editable-row">
            <td>
            {{data.id}}
            </td>
            <td>
              <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                {{ data.name }}
              </div>
              <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.name" (blur)="stopEdit(data.id,data.name,data.price)" />
            </td>
            <td>
              <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                {{ data.price }}
              </div>
              <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.price" (blur)="stopEdit(data.id,data.name,data.price)"   />

            </td>
            <td class="text-center">

              <a  nz-popconfirm nzPopconfirmTitle="seguro que desea eliminar a {{data.name}}?"   (nzOnConfirm)="deleteRow(data.id,data.name) "><span  nz-tooltip nzTooltipTitle="Eliminar {{data.name}}" ><i nz-icon nzType="delete"   style="font-size: 25px; color: #08c;" nzTheme="twotone"></i></span></a>
            </td>
          </tr>
        </tbody>

      </nz-table>


    </div>


</div>


