<div class="container espacio">
  <h1 class="text-center  pt-5"><strong>Gestión de Clientes </strong></h1>
  <div class="row">
    <div class="col-md-3 col-sm-12 pt-5">
      <form  [formGroup]="form" (submit)="send()">
        <div >
        <label class="pt-4" for="nombre">Nombre</label>
        <input class="form-control" mb-5 type="text" id="nombre" formControlName="nombre">
        </div>
        <div>
          <label class="pt-4"  for="apellido">Apellido</label>
          <input  class="form-control"  type="text" id="apellido" formControlName="apellido">
        </div>

        <div>
          <label  class="pt-4" for="direccion">Direccion</label>
          <input  class="form-control mb-4"  type="text" id="direccion" formControlName="direccion">
        </div>

        <div>
          <button (click)="addRow()" class=" mb-5  btn btn-success" [disabled]="form.invalid" >Registrar</button>
        </div>

      </form>
    </div>
    <div class="col-md-9 pl-5 col-sm-12 pt-5">
     <!-- <button nz-button  (click)="triggerModal(modalData)" nzType="primary">Registrar Cliente</button>-->
      <!--{# (click)="addRow()" #}-->
      <br />
      <br />
      <nz-table #editRowTable class="mb-3" nzBordered [nzData]="listOfData">
        <thead>
          <tr>
            <th>Id</th>
            <th >Nombre</th>
            <th nzWidth="30%">Correo</th>
            <th>Perfil</th>
            <th nzWidth="5%">Mostrar Servicios</th>
            <th nzWidth="5%">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of editRowTable.data" class="editable-row">
            <td>{{data.id}}</td>
            <td>
              <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                {{ data.nombre }}
              </div>
              <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.nombre" (blur)="stopEdit()" />
            </td>
            <td>
              <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                {{ data.correo }}
              </div>
              <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.apellido" (blur)="stopEdit()" />

            </td>
            <td>
              <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                {{ data.perfil }}
              </div>
              <input [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.direccion" (blur)="stopEdit()" />
            </td>
            <td class="text-center">
              <a routerLink="" routerLinkActive="true" ><i nz-icon nzType="eye" nzTheme="outline"></i></a>

            </td>
            <td class="text-center">
              <a  nz-popconfirm nzPopconfirmTitle="seguro que desea eliminar a {{data.nombre}}?"  (nzOnConfirm)="deleteRow(data.id) "><span ><i nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="red"></i></span></a>
            </td>
          </tr>
        </tbody>
        <ng-template #modalData let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title"><strong>Nuevo Cliente</strong></h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="col-md-10 col-sm-12">

              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')" (click)="clearModal()">Cerrar</button>
          </div>
        </ng-template>
      </nz-table>
      <button class="btn btn-primary"  pull-right pt-5 (click)="backClicked()">Regresar</button>

    </div>


  </div>

</div>


